<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Форма ввода данных</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Форма ввода данных кота</h1>
<form action="#" th:action="@{/greeting}" th:object="${cat}" method="post">
    <p>Имя: <input type="text" th:field="*{name}" /></p>
    <p>Порода: <input type="text" th:field="*{breed}" /></p>
    <p><input type="submit" value="Отправить" /> <input type="reset" value="Сброс" /></p>
</form>
</body>
</html>